/**
@scheme

lightgray:#545861
lightblue:#E5ECF6
black:#424147
red:#FD6B5C


*/
html{
    height: 100%;
    width: 100%;
}


body {
    font-family: 'Droid Sans', Arial, sans-serif;
    background-color: #E5ECF6;
    color: #424147;
    clear: both;
    position: relative;
}
form{
    height: 100%;
}
.share{
    overflow:hidden!important;
}
.index{
    padding-top: 51px;
    height: 100%;
}
.signup{
    width:330px;
}
a[ng-click] {
    cursor: pointer;
}

.navbar-inverse {
    background-color: #424147;
    margin-bottom: 0;
}

main {
    height: 100%;
}

.view {
    height: 95%;
}

.view .row {
    height: 100%;
    padding: 0;
}

.left-side {
    height: 100%;
}

.right-side {
    height: 100%;
}

.output {
    background-color: #fff;
}

.editor {
    background-color: #424147;
    height: 100%;
}
/*@note @css columns/tiles http://demosthenes.info/blog/825/Pinterest-Style-Column-Layout-In-Pure-CSS */
.gist-list{
    -webkit-column-width:30em;
    /* -webkit-column-count:2;*/
    -webkit-column-min-width:20em;
    -webkit-column-gap:2.5em;
    -o-column-width:30em;
    -o-column-gap:2.5em;
    -ms-column-width:30em;
    -ms-column-gap:2.5em;
    -moz-column-width:30em;
    -moz-column-gap:2.5em;
    column-width:30em;
    column-gap:2.5em;
}
.gist-list .gist{
    -webkit-column-break-inside:avoid;
    -moz-column-break-inside:avoid;
    -ms-column-break-inside:avoid;
    -o-column-break-inside:avoid;
    column-break-inside:avoid;
}
.CodeMirror pre.CodeMirror-placeholder {
    color: #999;
}

.bottom {
    position: absolute;
    bottom: 0;
}

*{
    border-radius: 0!important;
}
.brand {
    font-family: 'Francois One', 'sans-serif';
    color: #FD6B5C !important;
}


.CodeMirror {
    height: 100%;
    /*font-size: 1.15em;*/
    font-family: 'Ubuntu Mono', monospace;
}
textarea.code-editor{
    display: none;
}
.output{
}
.output iframe {
    width: 100%;
    height: 100%;
}

.text-small {
    font-size: 0.88em;
    line-height: 1.7em;
}
.text-micro {
    font-size: 0.6em;
}

.btn-form{
    width:auto;
}
.btn-form:hover{
    text-decoration: inherit;
}
.btn-form input{
    background-color: inherit;
    min-width: 300px;
    width:auto;
    line-height: inherit;
    height: auto;
    margin:auto;
    padding:0;
    border:none;
}
.btn-form label{
    font-weight: normal;
    margin: 0;
}

@media (min-width: 768px) {
    .no-padding {
        padding: 0;
        margin: 0;
        border: none;
    }

}
/**
 * splitter
 */
.mp-splitter{
    height:100%!important;
}
/**
 * angular overloads
 */

input.ng-valid{
    color:green;
    border-color: inherit;
}
input.ng-invalid{
    color:red;
    border-color: inherit;
}
.split-panes{
    width:100%;
}
.libraries{
    width:auto;
}
input.search::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

/**
 * bootstrap overloads
 */
.text-success{
    color:#A3C6C2!important;
}
.text-error{
    color:#EB866A!important;
}
.text-warning{
    color:#EA8768!important;
}
.btn-primary,.btn-primary:hover{
    background-color: #067B82!important;
    border-color: #05757A!important;
}
.navbar-inverse .btn-link{
    color: #999;
}
.navbar-inverse .btn-link:hover,.navbar-inverse .btn-link:focus{
    color: #fff;
    text-decoration: none;
}
.dropdown-header form{
    font-family: inherit !important;
    font-size: inherit!important;
    font-weight: inherit!important;
}
.pager li>a{
    background-color: inherit!important;
}
/**
 * SOCIAL
 */

.glyphicon-social{
    width:2em;
    height:2em;
    opacity: 0.3;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px 2px;
}
.glyphicon-social:hover{
    opacity: 0.5;
}
.glyphicon-github{
    background-image: url('../images/glyphicons_social_21_github.png') ;
}
.glyphicon-twitter{
    background-image: url('../images/glyphicons_social_31_twitter.png')  ;
}
.glyphicon-facebook{
    background-image: url('../images/glyphicons_social_30_facebook.png') ;
}
.glyphicon-rss{
    background-image: url('../images/glyphicons_social_37_rss.png') ;
}
.glyphicon-email{
    background-image: url('../images/glyphicons_social_39_e-mail.png')  ;
}
/**
 * TYPOGRAPHY
 */
.ellipsis{
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

pre.prettify{
    color: #FFF;
    background-color: #000;
}
