/**
@scheme

lightgray:#545861
lightblue:#E5ECF6
black:#424147
red:#FD6B5C


*/
html{
    height: 100%;
    width: 100%;
}

body {
    padding-top: 51px;
    font-family: 'Droid Sans', Arial, sans-serif;
    background-color: #E5ECF6;
    color: #424147;
    /*height: 700px;*/
    height: 100%;
    clear: both;
    position: relative;
}
form{
    height: 100%;
}
.signup{
    width:330px;
}
a[ng-click] {
    cursor: pointer;
}

.navbar-inverse {
    background-color: #424147;
    margin-bottom: 0;
}

main {
    height: 100%;
}

.view {
    height: 95%;
}

.view .row {
    height: 100%;
    padding: 0;
}

.left-side {
    height: 100%;
}

.right-side {
    height: 100%;
}

.output {
    background-color: #fff;
}

.editor {
    background-color: #424147;
    height: 100%;
}
.gist-list{
    height: auto!important;
}
.CodeMirror pre.CodeMirror-placeholder {
    color: #999;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.navbar, .btn {
    border-radius: 0;
}
.brand {
    font-family: 'Francois One', 'sans-serif';
    color: #FD6B5C !important;
}


.CodeMirror {
    height: 100%;
    font-size: 1.15em;
    font-family: 'Ubuntu Mono', monospace;
}
textarea.code-editor{
    display: none;
}
.output{
}
.output iframe {
    width: 100%;
    height: 100%;
}

.text-small {
    font-size: 0.88em;
    line-height: 1.7em;
}
.text-micro {
    font-size: 0.6em;
}

.btn-form{
    width:auto;
}
.btn-form:hover{
    text-decoration: inherit;
}
.btn-form input{
    background-color: inherit;
    min-width: 300px;
    width:auto;
    line-height: inherit;
    height: auto;
    margin:auto;
    padding:0;
    border:none;
}
.btn-form label{
    font-weight: normal;
    margin: 0;
}

@media (min-width: 768px) {
    .no-padding {
        padding: 0;
        margin: 0;
        border: none;
    }

}
/**
 * splitter
 */
.mp-splitter{
    height:100%!important;
}
/**
 * angular overloads
 */

 input.ng-valid{
    color:green;
    border-color: inherit;
}
input.ng-invalid{
    color:red;
    border-color: inherit;
}
.split-panes{
    width:100%;
}
/**
 * bootstrap overloads
 */
.text-success{
    color:#A3C6C2!important;
}
.text-error{
    color:#EB866A!important;
}
.text-warning{
    color:#EA8768!important;
}
.btn-primary,.btn-primary:hover{
    background-color: #067B82!important;
    border-color: #05757A!important;
}
.navbar-inverse .btn-link{
    color: #999;
}
.navbar-inverse .btn-link:hover,.navbar-inverse .btn-link:focus{
    color: #fff;
    text-decoration: none;
}
.dropdown-header form{
    font-family: inherit !important;
    font-size: inherit!important;
    font-weight: inherit!important;
}