/**
@scheme

lightgray:#545861
lightblue:#E5ECF6
black:#424147
red:#FD6B5C


*/

body {
    padding-top: 51px;
    font-family: 'Droid Sans', Arial, sans-serif;
    background-color: #E5ECF6;
    color: #424147;
    height: 768px;
    width: 100%;
    max-height: 100%;
    /*overflow: hidden;*/
    clear: both;
    position: relative;
}
form{
    height: 100%;
}
.signup{
    width:330px;
}
a[ng-click] {
    cursor: pointer;
}

.navbar-inverse {
    background-color: #424147;
    margin-bottom: 0;
}

main {
    height: 100%;
}

.view {
    height: 100%;
}

.view .row {
    height: 100%;
    padding: 0;
    margin: -1;
}

.left-side {
    height: 100%;
}

.right-side {
    height: 100%;
}

.output {
    background-color: #fff;
}

.editor {
    background-color: #424147;
    /*height: 600px;*/
    height: 80%;
    /*min-height:300px;*/
}
.gist-list{
    height: auto!important;
}
.CodeMirror pre.CodeMirror-placeholder {
    color: #999;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.navbar, .btn {
    border-radius: 0;
}
.brand {
    font-family: 'Francois One', 'sans-serif';
    color: #FD6B5C !important;
}

.file-explorer {
    background: white;
    min-height: 480px;
}

.file-explorer ul {
    padding-top: 5px;
}

.file-explorer li {
    padding-left: 3px;
}

.CodeMirror {
    /*min-height: 500px;*/
    height: 100%;
    font-size: 1.1em;
    font-family: 'Ubuntu Mono', monospace;
}
.output{
}
.output iframe {
    z-index: -10;
    width: 100%;
    height: 100%;
}

.text-small {
    font-size: 0.9em;
}

.icon-github {
    background-image: url('../images/glyphicons_social_21_github.png');
    height: 1.2em;
    margin-bottom: -3px;
    width: 1.2em;
    border-right: none;
    display: inline-block;
    background-color: gray;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 10px;
}

a:hover .icon-github {
    background-color: white;

}

@media (min-width: 768px) {
    .no-padding {
        padding: 0;
        margin: 0;
        border: none;
    }

    .left-side {
        /*display: inline-block;*/
        /*width: 50%;*/
    }

    .right-side {
        /*display: inline-block;*/
        /*width: 40%;*/
    }

}
/**
 * splitter
 */
.mp-splitter{
    height:100%!important;
}
/**
 * angular overloads
 */

 input.ng-valid{
    color:green;
    border-color: inherit;
}
input.ng-invalid{
    color:red;
    border-color: inherit;
}
/**bootstrap overloads*/
.text-success{
    color:#A3C6C2!important;
}
.text-error{
    color:#EB866A!important;
}
.text-warning{
    color:#EA8768!important;
}
.btn-primary,.btn-primary:hover{
    background-color: #067B82!important;
    border-color: #05757A!important;
}
.navbar-inverse .btn-link{
    color: #999;
}
.navbar-inverse .btn-link:hover,.navbar-inverse .btn-link:focus{
    color: #fff;
    text-decoration: none;
}
.dropdown-header form{
    font-family: inherit !important;
    font-size: inherit!important;
    font-weight: inherit!important;
}