<!-- template/index.html-->
<div class="row">
    <!--<ul class="nav nav-tabs">
        <li ><a href="#/">Configuration</a></li>
        <li><a class="active" href="#/">Html</a></li>
        <li><a href="">Javascript</a></li>
        <li><a href="">Css</a></li>
    </ul>-->
	<section class="left-side no-padding">
		<textarea ng-model="editor.value" cm-editor placeholder="{{editor.placeholder}}" class="editor"></textarea>
	</section>
	<section renderer class="output right-side no-padding"></section>
</div>

