<!--<div class="navbar-header">
</div>-->
<div class="collapse navbar-collapse" id="navigation-collapsed">
    <ul class="navbar-nav nav" id="leftMenu">
        <!--<li><a ng-click="lint" href="javascript:void 0;">Lint</a></li>-->
        <li><a ng-click="format()" >Format</a></li>
        <li><a ng-click="run()" >Run</a></li>
        <li  ng-show="Client.isAuthenticated">
            <a ng-click="save()" >Save</a>
        <li ng-show="Client.isAuthenticated" >
            <!--<a  ng-click="fork" >Fork</a>-->
        </li>
    </ul>
    <ul class="navbar-nav nav navbar-right" id="rightMenu">
        <li ng-show="!Client.isAuthenticated">
            <a id="signin" ng-click="signIn()" href="javascript:void 0;">
                <i class="icon-github"></i>
                Signin with github
            </a>
        </li>
        <li ng-show="Client.isAuthenticated">
            <a href="#/gist">Gists</a></li>
        <li ng-show="Client.isAuthenticated">
            <a id="youraccount" href="#/account">Welcome back {{Client.getAccountInfo().username}}</a></li>
        <li  ng-show="Client.isAuthenticated">
            <a id="signout" ng-click="signOut" href="javascript:void 0;">Signout</a></li>
        <!--<li><a href="#/help">Help</a></li>-->
        <!--<li><a href="#/about">About</a></li>-->
    </ul>
</div>