<!--templates/settings-menu.html-->
<!-- Copyright © 2014 mparaiso <mparaiso@online.fr>. All Rights Reserved.-->
<form class="form" name="editorSettingsForm" role="form" ng-controller="EditorSettingsCtrl" >
                        <div class="form-group ">
                            <label>Editor Settings:</label>
                        </div>
                        <div class="form-group ">
                            <label >Theme:</label>
                            <select  ng-model="EditorSettings.theme" ng-options="theme for theme in Editor.themes" class="form-control"> </select>
                        </div>
                       <!-- <div class="form-group " >-->
                            <!--<label for="">Tab size:</label>-->
                            <!--<input mix="1" max="8" class="form-control input-xs" type="number" ng-model="EditorSettings.tabSize"/>-->
                        <!--</div>-->
                        <div class="form-group ">
                            <label for="">Font size:</label>
                            <input min="9" max="25" class="form-control input-xs" type="number" ng-model="EditorSettings.fontSize"/>
                        </div>
                        <div class="form-group ">
                            <input type="checkbox" name="" ng-model="EditorSettings.lineWrapping"/>
                           <label for="">Line wrapping</label> 
                       </div>
                    <!--   <div class="form-group">-->
                           <!--<label for="">Refresh interval</label>-->
                           <!--<input type="number" min="1000"  max="10000" class="form-control input-xs" ng-model="EditorSettings.refreshInterval"/>-->
                       <!--</div>-->
                       <!--<div class="form-group ">-->
                           <!--<input type="checkbox" ng-model="EditorSettings.autoRefresh" class=" input-xs"/>-->
                           <!--<label for="">Auto Refresh</label> -->
                       <!--</div>-->
                    </form>

