<!--templates/share-form.html-->
<!-- Copyright © 2014 mparaiso <mparaiso@online.fr>. All Rights Reserved.-->
<form class="form" >
    <div class="form-group ">
        <label>Share link:</label>
    </div>
    <div class="form-group">
        <input readonly class="input-md form-control" value="{{shareUrl}}" width="100%" />
    </div>
    <div class="form-group ">
        <label >Embed on your page:</label>
    </div>
    <div class="form-group">
        <input readonly class="input-md form-control" value="{{embed}}"  />
    </div>
</form>

